@charset "UTF-8";

html, body {
    height: 100vh;
    box-sizing: border-box;
}

body {
    background-color: var(--fundo);
}

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;600&display=swap');

@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700&display=swap');

:root {
    --fundo: #fffdf5;
    --fundo-main:#fff8e8;
    --bordas: #f0ddb1;
    --fundo-destaque: #f6c94c;
    --sombra: #e7a919;
    
    --fonte-zilla: "zilla slab", Arial, Helvetica, sans-serif;
    --fonte-satoshi: "satoshi", Arial, Helvetica, sans-serif;
}