@charset "UTF-8";

html, body {
    height: 100vh;
    box-sizing: border-box;
}

body {
    background-color: var(--fundo);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


:root {
    --fundo: #fffdf5;
    --fundo-main:#fff8e8;
    --bordas: #f0ddb1;
    --fundo-destaque: #fdd874;
    --sombra: #e7a919;
}

main {
    display: grid;
    grid-template: auto / auto 90vw auto;
    padding: 10px;
}

main > * {
    grid-area: auto / 2 / auto / 3;
}

section{
    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
}

article {
    border-radius: 10px;
    padding: 15px;
    background-color: var(--fundo-main);
}


ul {
    display: none;
}

hr {
    margin-top: 5px;
    margin-bottom: 15px;
}

.ficha-container, .principal-container, .principal-container01{
    border: 2px solid var(--bordas);
}

.ficha-info > img {
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 290px;
    height: 290px;
    object-fit: cover;
    margin-bottom: 25px;
}

.ficha-info > h2 {
    text-align: center;
    margin-bottom: 5px;
}

.ficha-info > p {
    width: 300px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    
}

.btn-seguir {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.btn-seguir > a > img {
    width: 24px;
}

.btn-seguir > a > p {
    font-size: 0.8em;
    font-weight: bold;
}

.btn-seguir > a {
    border: 1px solid #9146FF;
    color: #9146FF;
    border-radius: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 10px;
    transition: background 0.4s
}

.btn-seguir > a:hover {
    background-color: var(--fundo-destaque);
    color: #9146FF;
}

.info-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    max-width: 100%;
}

.info-live {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 7px;
}

.info-live > img {
    width: 134px;
    height: 134px;
    max-width: 100%;
}

.redes-sociais > h2 {
    display: inline;
}

.redes-sociais > img {
    width: 32px;
    height: 32px;
}

.redes {
    border-radius: 10px;
    padding: 10px;
    background-color: var(--fundo-destaque);
}

.redes-organiz {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.redes-organiz > p > img {
    width: 24px;
    height: 24px;
    margin-right: 15px;
} 

.ficha-container-agradecimento01 {
    display: none;
}

.agradecimento01 {
    display: none;
}

.principal-container01 {
    margin-top: 40px;
}

.apresentaçao {
    line-height: 1.5em;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
}

.apresentaçao > .filho-apresentaçao > h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.filho-apresentaçao > img {
    width: 165px;
    height: 115px;
}

#p-apresentaçao {
    margin-bottom: 20px;
}

.margem {
    margin-left: 25px;
}

.sobre-mim-container {
    text-align: justify;
    line-height: 1.5em;
    display: flex;
    align-items: center;
}

.sobre-mim > h2 > img {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.img-sobre-mim > img {
    width: 165px;
    height: 165px;
}

.jogos-favoritos > h2 > img {
    width: 32px;
    height: 32px;
}

.jogos {
    display: flex;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.jogos::-webkit-scrollbar {
    display: none;
}

.jogos > img {
    width: 210px ;
    height: 290px;
    max-width: 100%;
    margin-right: 16px;
    margin-left: 16px;
    border-radius: 10px;
    object-fit: cover;
}

.agenda-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.agenda > h2 > img {
    width: 32px;
    height: 32px;
}

.lives {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--fundo-destaque);
}

.lives > p {
    margin-right: 10px;
}

.placa-aviso > img{
    width: 135px;
    height: 165px;
    max-width: 100%;
}

.clipes > h2 > img{
    width: 32px;
    height: 32px;
}

footer {
    padding-top: 10px;
    height: 55px;
    background-color: var(--sombra);
}

footer > p {
    text-align: center;
}