@charset "UTF-8";

html, body {
    height: 100vh;
    box-sizing: border-box;
}

body {
    background-color: var(--fundo);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


:root {
    --fundo: #fffdf5;
    --fundo-main:#fff8e8;
    --bordas: #f0ddb1;
    --fundo-destaque: #fdd874;
    --sombra: #e7a919;
}

main {
    display: grid;
    grid-template: auto / auto 90vw auto;
    padding: 10px;
}

main > * {
    grid-area: auto / 2 / auto / 3;
}

section{
    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
}

article {
    border-radius: 10px;
    padding: 15px;
    background-color: var(--fundo-main);
}


img {
    display: none;
    width: 100px;
    height: 100px;
}