@charset "UTF-8";

html, body {
    height: 100vh;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor-verde-escuro: #4b7239;
    --cor-bege: #fbf7ee;
}

header {
    padding: 15px;
    margin-top: 15px;
    text-align: center;
}

nav {
    display: none;
}

main {
    display: grid;
    grid-template: auto / auto 90vw auto;
}

main > * {
    grid-column: 2;
}

.inicio {
    display: flex;
    flex-flow:  column nowrap;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.inicio-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

.inicio-container {
    text-align: center;
}

.inicio-img > img{
    display: block;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 70px;
    width: 90%;
    height: 370px;
    object-fit: cover;
}


.detalhes {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
}

.qualidades {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    border: 2px solid black;
    color: white;
    background-color: rgb(2, 134, 2);
}

.qualidades > img {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

#pre-serviços {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 50px;
}

#pre-serviços > h3 {
    color: rgb(1, 104, 1);
}

#pre-serviços > img {
    width: 54px;
    height: 54px;
    object-fit: cover;
}

.serviços-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
    margin-bottom: 100px;
}

.card-flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 30px;
    margin-left: 15px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(253, 197, 93);
}

.card-img {
    border-radius: 10px;
    margin-left: 7px;
    border: 2px solid black;
    background-color: rgb(255, 219, 148);
}

.card-img > img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.card-text > h4{
    margin-bottom: 5px;
}

.card-text > p {
    line-height: 1.5em;
}

.detalhes-final {
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.conteudo-img  > img{
    width: 370px;
    height: 370px;
    object-fit: cover;
    border-radius: 10px;
}

.conteudo-text {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    text-align: center;
}