@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Plaster&display=swap');

@font-face {
    font-family: android;
    src: url(../fontes/idroid.otf);
    font-weight: normal;
}

/* 
    #c5ebd6
    #83e1ad
    #3ddc84
    #2fa866
    #1a5c37
    #063d1e
*/

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fonte-android: "android";
    --fonte-destaque: "bebas neue"
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color:  var(--cor0);
}

header {
    padding-top: 40px;
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3), var(--cor4));
}

header > h1 {
    text-align: center;
    font-weight: normal;
    font-family: var(--fonte-destaque), cursive;
    color: white;
    margin-bottom: 20px;
}

header > p {
    text-align: center;
    color: white;
    padding-bottom: 15px;
}

header > nav {
    margin-top: 10px;
    padding-bottom: 10px;
}

nav > a {
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding: 10px;
    font-weight: bolder;
    opacity: 0.5;
    transition: opacity 0.5s;
    font-family: var(--fonte-destaque), cursive;
    
}

nav > a:hover {
    background-color: #3ddc84;
    border-radius: 5px;
    opacity: 1;
}

img#bugdroid {
    width: 320px;
    height: 320px;
    margin: auto;
}

picture > img {
    width: 100%;
    display: block;
}

div.video{
    background-color: var(--cor5);
    margin-left: -20px;
    margin-right: -10px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

div.video > iframe {
    margin-left: 4%;
    margin-top: 5px;
    max-width: 90%;
    width: 1100px;
    height: 500px;
}


main {
    background-color: white;
    margin: auto;
    padding: 10px;
    padding-left: 20px;
    max-width: 1200px;
    min-width: 320px;
}

main > h1 {
    font-family: var(--fonte-android), cursive;
    padding-bottom: 10px;   
    margin-bottom: 10px; 
}

main > h2 {
    font-family: var(--fonte-android), cursive;
    padding-left: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, var(--cor0), var(--cor2));
}

main  a {
    background-color: var(--cor0);
    text-decoration: none;
    color: var(--cor4);
    border-radius: 7px;
    padding-left: 7px;
    padding-right: 7px;
}

main a::after {
    content: "\1F517";
    margin-left: 3px;
}

aside > h3 {
    background-color: #2fa062;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

aside {
    background-color: #83e1ad;
    margin-left: -10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.549);
}

    aside  p#lista > a{
    background-color: var(--cor2);
    color: var(--cor4);
    text-decoration: none;
    border-radius: 7px;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 3px;
}

aside > p {
    text-align: justify;
    text-indent: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

aside > ul {
    padding-left: 20px;
    list-style-type: "\1F5F8\00A0";
    list-style-position: inside;
    columns: 2;
}

main > p {
    text-indent: 30px;
    text-align: justify;
    padding-bottom: 10px;
    padding-top: 10px;
}
footer {
    text-align: center;
    margin-top: 10px;
    background-color: #063d1e;
    color: white;
}